# Build
/target/
/build/

# Gradle
.gradle/

# Maven wrapper (mantém wrapper, ignora binários gerados)
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env / secrets
.env
application-local.properties

# Compiled
*.class

# Node (se tiver React no mesmo repo)
node_modules/
dist/
build/

# Misc
out/